.head-margin{
    padding-bottom: 40px;
}  

.head-margin p{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    border-bottom: 1px solid;
    border-bottom: 1px solid #DAE2FD;
    
}

.allcollection {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif; 
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #131B2E;
}

#t-line{
    border: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: Inter;
}
